* {
  text-align: center;
}
label {
  border: none;
  padding: 5px;
  border: none;
}
select {
  /*No funciona*/
  align-items: center;
  padding: 5px;
  box-shadow: 10px 10px 10px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 5px;
}
/*section select */
option {
  color: #222222;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
}
option:hover {
  color: white;
  background-color: #ec004a;
}

.cards {
  display: grid;
  grid-template-columns: 25% 25%;
  align-items: center;
  justify-content: center;
  margin: 100px;
}
.container img {
  height: 100%;
  width: 100%;
}
button {
  margin-left: 30px;
  font-size: 15px;
  border: none;
  color: white;
  padding: 8px 12px 8px 12px;
  background-color: #393737;
  border-radius: 5px;
}
button:hover {
  background-color: #ec004a;
}
